  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body{
    /* background-color: rgb(120, 10, 194);
    background: rgb(255,0,219); */
    background: linear-gradient(90deg, rgba(255,0,219,1) 0%, rgba(92,12,241,1) 34%, rgba(121,3,246,1) 66%, rgba(229,5,247,1) 100%);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img{
    width: 40px;
    padding: 0 10px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    
}
.contianer{
    min-height: 60vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    text-align: center;
    margin: 20px auto;
    width: 70%;
    border-radius: 10px;
    padding: 30px;
    background-image: url(bg2.jpg);
    background-size: cover;
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#myProgressBar{
    width: 80vw;
    margin-top: 5px;
    cursor: pointer;
    
    
}
.icons{
    font-size: 2rem;
    margin: 5px 0;
}
.icons i {
    cursor: pointer;
}
.songItemContainer{
    margin-top: 20px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    width: 70%;
    border-radius: 40px;
    margin: 10px 0;
    padding: 2px;
    justify-content: space-around;
    align-items: center;
}
.songItem img{
  width: 50px;
  height: 50px;
  margin: 0 1px;
  border-radius: 50px;
}

.timeStamp {
    margin: 0 40px ;
  
}
.timeStamp i {
    cursor: pointer;
    height: 20px;
}
.songInfo{
    
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}
.songInfo img {
    
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
